aws-cfn-bootstrap==2.0
awscli==1.19.109
boto3==1.17.99
botocore==1.20.109
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.3
docutils==0.14
idna==2.10
jmespath==0.10.0
lockfile==0.11.0
psycopg2==2.7.7
psycopg2-binary==2.9.1
pyasn1==0.4.8
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.8.1
PyYAML==5.4.1
ratelimit==2.2.1
requests==2.25.1
rsa==4.7.2
s3transfer==0.4.2
simplejson==3.2.0
six==1.16.0
urllib3==1.26.5
